*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/vcs.xml
.DS_Store
/build
/simplecropimagelib/build
/utils/build
/captures
/import-summary.txt
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
/app/build/
/common-task/build/
/android.iml
/android-app-common-tasks.iml
