<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.common.utils"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- device id -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- get location -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <!-- auto lock -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <!-- sdcard use -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- on wifi n bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <!--&lt;!&ndash;flashlight&ndash;&gt;-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camer/a.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>


    <!--&lt;!&ndash;network&ndash;&gt;-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--&lt;!&ndash;<uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>&ndash;&gt;-->

    <!--&lt;!&ndash;phone&ndash;&gt;-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!--&lt;!&ndash;process&ndash;&gt;-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:name="com.common.UtilsApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".BackgroundMusicService"
            android:enabled="true"
            android:process=":remote"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name=".BackgroundMusicService"/>
            </intent-filter>
        </service>


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MaterialView"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CodeSnippestHomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.common.example.ClientGetActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.common.example.ClientPostActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.common.example.ClientPostMultipartEntityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.ValidationAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.DateFormateAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.SetPrefAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.GetPrefAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.GetCurrentLocationAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.PinchZoomImageViewAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.AppIconAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.SendLocatoNotificationAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.SendE_MailAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.ScreenModeDis_Ean_Act"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.OpenUrlINBrowserAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.DownloadImageFromUrlAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.BackGroundMusicStartStopAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.BluetoothOrWifiOnOffAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.GetRandomNumberAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.PostFixForNumberAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.blurEffectsOnDrawableAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.UrlValidationRippleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.CommonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".social.LinkedInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.ArraylistToStringActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.BlurEffectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.DrawableToBitmapActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.SaveImageInPreference"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.VerticalTextViewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.RoundedBitmapActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.PreventClickActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.PickCaptureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.EmailContactsScreenShotActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.ImageVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.AddressOnMapActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.common.example.CreateFolderActivity"
            android:label="@string/title_activity_create_folder"/>
        <activity
            android:name="com.common.example.DateDifferenceActivity"
            android:label="@string/title_activity_date_difference"/>
        <activity
            android:name="com.common.example.StringToDateActivity"
            android:label="@string/title_activity_string_to_date"/>
        <activity
            android:name="com.common.example.ToastActivity"
            android:label="@string/title_activity_toast"/>
        <activity
            android:name="com.common.example.ChooseProfileActivity"
            android:label="@string/title_activity_choose_profile"/>
        <activity
            android:name="com.common.example.VolumeActivity"
            android:label="@string/title_activity_volume"/>
        <activity
            android:name="com.common.example.FileCountActivity"
            android:label="@string/title_activity_file_count"/>
        <activity
            android:name="com.common.example.ColorPickerActivity"
            android:label="@string/title_activity_color_picker"/>
        <activity
            android:name="com.common.example.DownloadActivity"
            android:label="@string/title_activity_download"/>

        <activity
            android:name="com.common.utils.MaterialLibrariesListActivity"
            />

        <activity android:name="eu.janmuller.android.simplecropimage.CropImage"/>

        <!--Utils Code-->
        <activity android:name="com.common.activity.ActivityActivity"/>
        <activity android:name="com.common.activity.AppActivity"/>
        <activity android:name="com.common.activity.CleanActivity"/>
        <activity android:name="com.common.activity.DeviceActivity"/>
        <activity android:name="com.common.activity.FragmentActivity"/>
        <!--<activity android:name=".activities.FlashlightActivity"/>-->
        <activity android:name="com.common.activity.HandlerActivity"/>
        <activity android:name="com.common.activity.ImageActivity"/>
        <activity
            android:name="com.common.activity.KeyboardActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name="com.common.activity.LocationActivity"/>
        <activity android:name="com.common.activity.LogActivity"/>
        <activity android:name="com.common.activity.MainActivity">
        </activity>
        <activity android:name="com.common.activity.NetworkActivity"/>
        <!--<activity android:name=".activities.PermissionActivity"/>-->
        <activity android:name="com.common.activity.PhoneActivity"/>
        <activity android:name="com.common.activity.PinyinActivity"/>
        <activity android:name="com.common.activity.ProcessActivity"/>
        <activity android:name="com.common.activity.SDCardActivity"/>
        <activity android:name="com.common.activity.SnackbarActivity"/>
        <activity android:name="com.common.activity.SpannableActivity"/>
        <activity android:name="com.common.activity.ToastActivity"/>

        <service android:name="com.common.service.LocationService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.common.utils"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <provider
            android:name=".InternalStorageContentProvider"
            android:authorities="com.common.utils"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />


    </application>

</manifest>
